<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <include resource="logback-properties.xml" />

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_SIMPLE" />
    </root>

    <!-- Base Logger: this will be applied by default for all files located in base package -->
    <logger name="com.secure.notes" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_SIMPLE" />
        <appender-ref ref="ROLLING_FILE" />
    </logger>

    <!-- Configuration Loggers -->
    <logger name="com.secure.notes.config" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_SIMPLE" />
    </logger>

    <logger name="com.secure.notes.config" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_SIMPLE" />
    </logger>

</configuration>
